nav {
    text-align: center;

    img {
        width: 120px;
    }
}

.background {
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1571661685749-9535474c648c?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: calc(100vh - 59.05px);
    background-size: cover;
    background-position: center;

    p {
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    }
}
