nav {
    text-align: center;

    img {
        width: 120px;
    }
}

.background {
    width: 100%;
    background-image: url("../../img/lake.webp");
    height: calc(100vh - 87.8px);
    background-size: cover;
    background-position: top;

    p {
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
    }
}
